*{
  margin: 0;
}

html{
  font-size: 16px;
}

body{
  font-family: "Helvetica";
}

/*header*/

header{
height: 4rem;
}

.container{
  max-width: 960px;
  margin: auto;
}

.flex-container{
  max-width: 960px;
  height: 4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
}

.logo{
  display: flex;
}

.logo img{
  height: 2rem;
 margin-left: 1.5rem;
}

.company span{
  color: #585858;
  font-weight: 590;
}

.company h3{
  color: #A9A9A9;
  font-weight: lighter;
}

.company nav ul{
  list-style-type: none;
  display: flex;
  margin-right: 1rem;
}

.company nav ul li{
  margin: auto 0.5rem;
}

.company nav ul li a{
  text-decoration: none;
  color: black;
}

/* DIV 1 */

.template{
  display:flex;
  background-color:  #e6e6e6;
}

.banner-image{
float: left;
width: 55%;
margin: 2rem 0 2rem 1.5rem;
}

 .banner-image img{
   width: 100%;
}

.banner-text{
  width: 30%;
margin-right: 3rem;
  float: right;
  margin-top: 7rem;
}

.banner-text h1{
  font-size: 2rem;
  color:   #4d4d4d;
  font-weight: bolder;  /*  complete this font with thickness */
  padding-bottom: 2rem;
}

.banner-text h3{
  font-size: 1.2rem;
  padding-bottom: 2rem;
  font-weight:300;
  color: #404040;
}

.button{
  background-color:  #4d4d4d;
  width: 90%;
  padding: 0.7rem;
  text-align: center;
}

.button a{
  text-decoration: none;
  color: white;
}

/* DIV 2 */

.template{
  
}
