*{
  margin: 0;
}

p{
 color:#404040;
}

html{
  font-size: 16px;
}

body{
  font-family: "Helvetica";
}

/*header*/

header{
height: 4rem;
}

.container{
  max-width: 960px;
  margin: auto;
}

.flex-container{
  max-width: 960px;
  height: 4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
}

.logo{
  display: flex;
}

.logo img{
  height: 2rem;
 margin-left: 1.5rem;
}

.company span{
  color: #585858;
  font-weight: 590;
}

.company h3{
  color: #A9A9A9;
  font-weight: lighter;
}

.company nav ul{
  list-style-type: none;
  display: flex;
  margin-right: 1rem;
}

.company nav ul li{
  margin: auto 0.5rem;
}

.company nav ul li a{
  text-decoration: none;
  color: black;
}

/* DIV 1 */

.template{
  display:flex;
  background-color:  #e6e6e6;
}

.banner-image{
float: left;
width: calc(60% - 3rem);
margin: 2rem 0 2rem 1.5rem;
}

 .banner-image img{
   width: 100%;
}

.banner-text{
  width: 30%;
margin-right: 3rem;
  float: right;
  margin-top: 7rem;
}

.banner-text h1{
  font-size: 2rem;
  color:   #4d4d4d;
  font-weight: bolder;  /*  complete this font with thickness */
  padding-bottom: 2rem;
}

.banner-text h3{
  font-size: 1.2rem;
  padding-bottom: 2rem;
  font-weight:300;
  color: #404040;
}

  .button a{
  text-decoration: none;
  color: white;
  background-color:  #4d4d4d;
  padding: 0.7rem 5.9rem;
  text-align: center;
}

/* DIV 2 */

.template1{
  display: flex;
}

.column-left{
width: calc(60% - 3rem);
margin: 2rem 1.4rem 2rem 1.5rem;
float: left;
}

.column-left img{
  width: 100%;
  margin-bottom: 2rem;
}

.column-left h1{
  font-size: 2rem;
  color: #4d4d4d;
  margin-bottom: 1.5rem;
  font-weight: bolder;
}

.column-left p{
  margin-bottom: 1.4rem;
 font-size: 0.85rem;
}

.column-left span{
  color: #4d4d4d;
  font-size: 0.7rem;
  font-weight: bold;
}


.column-right{
  float: right;
  width: 40%;
}

.article{
  display: flex;
  padding: 1rem 0 1rem 1rem;
  border-left: 0.5px solid #e6e6e6;
  border-bottom: 0.5px solid #e6e6e6;
}

.article img{
  width: 35%;
  height: 130px;
}

.article-text{
padding: 1.5rem 1rem;
}

#article-text{
  padding: 1rem 1rem;
}

#article{
  background-color: #e6e6e6;
  border-bottom: 0;
}

#article1{
  padding-top: 2rem;
}

.article p{
  margin: 0.5rem 0 1rem 0;
 font-size: 0.8rem;
}

.article h3{
  color: #4d4d4d;
}

.article a{
  text-decoration: none;
  color: #00bfff;
  font-size: 0.8rem;
}

/* DIV 3 */

.template2{
  background-color:#e6e6e6 ;
}

 .container .flex-container-div3{
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 2rem 3rem 0rem 3rem;
}

.subject{
  width: calc((960px - 12rem)/3);
  margin: 0 0.5rem 2rem 1rem;
  background-color: white;
  height: auto;
}

.template2 h1{
  font-size: 2rem;
  font-weight: bolder;
  padding: 2rem 0 0 0;
  text-align: center;
  color: #4d4d4d;
}

.subject h3{
  padding: 1rem;
  color: #4d4d4d;
}

.subject h4{
  padding: 0.5rem 2rem 0.5rem 1rem ;
  font-size: 1rem;
  font-weight: lighter;
  color:#404040;
}

.subject p{
  padding: 0 2rem 1.5rem 1rem;
  font-size: 0.8rem;
}

.subject img{
  width: calc((960px - 12rem)/3);
}

/*final division */

.template1{
  display: flex;
}

.column-left{
width: calc(60% - 3rem);
margin: 2rem 1.4rem 2rem 1.5rem;
float: left;
}

.column-left img{
  width: 100%;
  margin-bottom: 2rem;
}

.column-left h1{
  font-size: 2rem;
  color: #4d4d4d;
  margin-bottom: 1.5rem;
  font-weight: bolder;
}

.column-left p{
  margin-bottom: 1.4rem;
 font-size: 0.85rem;
}

.column-left span{
  color: #4d4d4d;
  font-size: 0.7rem;
  font-weight: bold;
}


.column-right{
  float: right;
  width: 40%;
}

.article{
  display: flex;
  padding: 1rem 0 1rem 1rem;
  border-left: 0.5px solid #e6e6e6;
  border-bottom: 0.5px solid #e6e6e6;
}

.article img{
  width: 35%;
  height: 130px;
}

.article-text{
padding: 1.5rem 1rem;
}

#article-text{
  padding: 1rem 1rem;
}

#article{
  background-color: #e6e6e6;
  border-bottom: 0;
}

#article1{
  padding-top: 2rem;
}

.article p{
  margin: 0.5rem 0 1rem 0;
 font-size: 0.8rem;
}

.article h3{
  color: #4d4d4d;
}

.article a{
  text-decoration: none;
  color: #00bfff;
  font-size: 0.8rem;
}
